.JoinPage{
    background-color: rgb(49, 47, 47);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JoinContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.JoinContainer>img{
    width: 8vmax;
    border-radius: 15px;
}

.JoinContainer > h1{
    color: white;
    font-size: 2.5vmax;
    font-family: "Roboto";
    width: 25vmax;
    text-align: center;
    padding: 1vmax;
    border-bottom: 0.2vmax solid white;
    box-sizing: border-box;
}

#joinInput{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    font-family: "Roboto";
    margin: 2vmax;
    box-sizing: border-box;
}

.joinBtn{
    width: 25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.4vmax;
    color: black;
    font-family: "Roboto";
    margin: 2vmax;
    background-color: rgb(173, 243, 173);
    box-sizing: border-box;
    transition: all 0.3s;
    cursor: pointer;
}

.joinBtn:hover{
    background-color: rgb(21, 141, 21);
}