.chatPage{
    background-color: rgb(49, 47, 47);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatContainer{
    background-color: white;
    height: 60%;
    width: 50%;
}

.header{
    background-color: crimson;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header>h2{
    color: white;
    margin: 2.5vmax;

}

.header a img {
    height: 20px;
    margin: 2.5vmax;
    cursor: pointer;
    transition: all 0.3s;
  }
  
.header a img:hover {
    transform: scale(1.2);
}

.chatBox{
    height: 70%;
    box-sizing: border-box;
}

.inputBox{
    height: 15%;
    box-sizing: border-box;
    display: flex;
}

#chatInput{
    width: 80%;
    border: none;
    outline: none;
    padding: 2vmax;
    box-sizing: border-box;
    background-color: white;
    font-size: 1.2vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 0.2vmax solid rgb(57, 49, 49);
}

.sendBtn{
    background-color: crimson;
    color: white;
    width: 21%;
    border: none;
    outline: none;
    transition: all 0.3s;
    cursor: pointer;
}

.sendBtn:hover{
    background-color: rgb(152, 8, 37);
}

.sendBtn > img {
    width: 3.5vmax;
    filter: brightness(100) invert();
    transition: all 0.3s;
}

.sendBtn:hover img{
    transform: translateX(10px);
}